body {
    background-color: rgb(255, 255, 255);
    padding-right: 80px;
    padding-left: 80px;
}

img {
    width: 500px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.column.right {
    width: 30%;
}

.column.left {
    width: 60%;
}

.userInput {
    width:400px;
}

.scoreHeader{
    text-decoration: underline;
}
